My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9c67878e-6851-41fb-a80c-b38f843a8ab3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_d8SJy8gDATNUKsQ_qNmDcYHGAHklH-DsCDz0Wsbj1Y",
          "mode": "list",
          "cachedResultName": "Company Name",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_d8SJy8gDATNUKsQ_qNmDcYHGAHklH-DsCDz0Wsbj1Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_d8SJy8gDATNUKsQ_qNmDcYHGAHklH-DsCDz0Wsbj1Y/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        208,
        0
      ],
      "id": "5da941a2-5131-4e0b-87aa-461d9e43f8eb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LOMv9nOhYJNFJpDe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "a870b7e0-d5e9-45cd-a7a6-8c593e09cabc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json['Company Domain'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "jina_c8c70f0e43704569ae393862f2e155f1kuAITvu-eGCIRwcWm_i-74V3Cy34"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ],
      "id": "4cc06e1a-e8b0-4bd5-b584-074f34690fcc",
      "name": "Technology sourcing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=  {{ $json.data }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Analyze the received content and justify only the technologies used by the company.Ignore all other information.Response format:\npresent the result as a structured list organized by categories.Each category will group similar technologies.Example classification:Hosting &Servers:[Technology names] CMS & Content Management:[Technology names] Analysis & Tracking Tools: [technology Nmaes] Security & Performance: [Technology Names] Constraints:Do not include irrelevant text(advertisements,external surces,etc.) Limit to technologies specific to the analyzed company.Provide a clear and concise response"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        848,
        0
      ],
      "id": "22500e39-303c-47a2-9840-5eb8b7e5e0ab",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        208
      ],
      "id": "f19bf28f-c9ca-4e19-b10d-fe8f1c75dd7d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LAFXgdNh6hgr2P0r",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"technologies\":{\n  \"Hosting & Servers\":[\n    \"cloudflare\",\n    \"AWS CloudFront\"\n  ],\n  \"CMS & Content Management\":[\n    \"WordPress\"\n  ],\n  \"Analysis & Tracking Tools\":[\n    \"Google Analytics\",\n    \"Hotjar\"\n  ],\n  \"Security & Performance\":[\n    \"reCAPTCHA\",\n    \"SSL by Let's Encrypt\"\n  ],\n  \"Other technologies\":[\n    \"Google Tag Manager\",\n    \"Facebook Pixel\"\n  ]\n}\n    \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        992,
        208
      ],
      "id": "f8e69c11-b54d-4a76-9bc0-52b9c823ff5c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1_d8SJy8gDATNUKsQ_qNmDcYHGAHklH-DsCDz0Wsbj1Y",
          "mode": "list",
          "cachedResultName": "Company Name",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_d8SJy8gDATNUKsQ_qNmDcYHGAHklH-DsCDz0Wsbj1Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_d8SJy8gDATNUKsQ_qNmDcYHGAHklH-DsCDz0Wsbj1Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Domain": "={{ $('Get row(s) in sheet').item.json['Company Domain'] }}",
            "Hosting & Servers": "={{ $json.output.technologies['Hosting & Servers'].join(', ') }}",
            "CMS & Content Management": "={{ $json.output.technologies['CMS & Content Management'].join(', ') }}",
            "Analysis & Tracking Tools": "={{ $json.output.technologies['Anamysis & Tracking Tools'].join(', ') }}",
            "Security & Performance": "={{ $json.output.technologies['Security & Performance'].join(', ') }}",
            "Other Technologies": "={{ $json.output.technologies['Other technologies'].join(', ') }}"
          },
          "matchingColumns": [
            "Company Domain"
          ],
          "schema": [
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hosting & Servers",
              "displayName": "Hosting & Servers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CMS & Content Management",
              "displayName": "CMS & Content Management",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis & Tracking Tools",
              "displayName": "Analysis & Tracking Tools",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Security & Performance",
              "displayName": "Security & Performance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Other Technologies",
              "displayName": "Other Technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        0
      ],
      "id": "95d48188-06c2-4161-9fd0-1822c3b0d5b6",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LOMv9nOhYJNFJpDe",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Technology sourcing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technology sourcing": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b998641b-7758-46af-9b7f-821a7f914fe0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae59976ba181e57bcabf436b9ae64adf9c80da3541ef02ade3b192c8c499123b"
  },
  "id": "mOIzREwZaTUyjGev",
  "tags": []
}